@charset "UTF-8";
.word {
	background-image:url(./image/1.jpg);
	color: white;
	font-weight: bold;
}
.bold {
	text-decoration:underline;
	color: gold;
}

h2 {
	text-align: center;
}

focus{
	font-size: 24px;
	color: gold;
	text-align: center;
}
